CLOUDFLARE_ACCOUNT_ID_NEPALI=replace-with-your-Nepali-Cloudflare-account-id
CLOUDFLARE_API_TOKEN_NEPALI=replace-with-your-Nepali-Workers-AI-token
GEMINI_API_KEY_NEPALI=replace-with-your-Nepali-Gemini-api-key
